post-service/src/main/resources/application.properties
post-service/src/main/resources/application.yaml
user-service/src/main/resources/application.properties
user-service/src/main/resources/application.yaml
discovery-server/src/main/resources/application.properties
discovery=server/src/main/resources/application.yaml
api-gateway/src/main/resources/application.properties
api-gateway/src/main/resources/application.yaml
